%li.chat-message
  .chat-mssage__header.clearfix
    %p.chat-message__name
      = message.user.name
    %p.chat-message__time
      = l message.created_at, format: :default
  %p.chat-message__body
    = message.body
