.chat.clearfix
  .chat-side
    .chat-user.clearfix
      %h5=current_user.name
      .chat-user__actions
        = link_to new_group_path, class: "chat-user__action" do
          %i.icon.fa.fa-pencil-square-o
        = link_to edit_user_registration_path, class: "chat-user__action" do
          %i.icon.fa.fa-cog
    %ul.chat-groups
      -@groups.each do |group|
        %li.chat-group
          =link_to group_messages_path(group.id) ,class: 'chat-group__link' do
            %p.chat-group__name=group.name
            %p.chat-group__message *メッセージは後で実装

  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2= @group.name
        %p.chat-header__users
          Members:
          -@group.users.each do |user|
            %span.chat-header__user=user.name
      .chat-header--right
        = link_to edit_group_path(params[:group_id]) do
          .chat-header__edit-btn Edit

    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-mssage__header.clearfix
            %p.chat-message__name ユーザー1
            %p.chat-message__time 2016/12/17
          %p.chat-message__body Hello Work
    .chat-footer
      %form#new_message.new_message
        .chat-footer__body
          %textarea#message_body{rows: "1", name: "message[body]",  placeholder: "type a message"}
          %label.chat-footer__image
            %i.icon.fa.fa-image
        %input{type: "submit", value: "send"}
